header {
    background-color: pink;
    padding: 10px;
    color: white;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul {
    list-style-type: none;
    text-align: center;
}

header ul li {
    background-color: white;
    padding: 10px 10px;
    color: pink;
    display: inline;
    margin-right: 20px;
}

section {
    text-align: center;
}

footer {
    background-color: pink;
    padding: 20px;
    text-align: center;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

article {
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

article img {
    max-width: 100%;
    border-radius: 5px;
}

article h2 {
    color: #ff69b4;
    margin-top: 10px;
}

article p {
    margin: 5px 0;
}


article p:last-child {
    color: #ff69b4; 
    font-weight: bold;
}

div {
    text-align: center;
}